.mt-3 input {
    background-color: #FA0427FA;
    color: white;
    border: none;
    border-radius: 5px;
}

.mt-3 input:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.name {
    margin: 0 30px;
    color: #FA0427FA;
    text-decoration: none;
}

.size {
    font-weight: 500;
}

.main p {
    width: 450px;
    line-height: 45px;
}

.color {
    color: white;
}

.main {
    padding: 130px;
}

.top_section {
    display: flex;
    background-color: black;
}

.spacing {
    margin-top: 80px;
    padding-top: 50px;
}